# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# OS files
.DS_Store

# AWS SAM / CDK / Terraform
.aws-sam/
cdk.out/
.terraform/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Secrets
*.key
*.pem
.env
